/*

Template: Phobos
Template Demo: http://www.divuscode.com/demo/phobos
Author: DIVUS
Author website: http://www.divuscode.com

Content:

 1 - Basic
 2 - Slider
 3 - Navigation
 4 - Parallax overlay and text
 5 - About us
 6 - Our Work
 7 - Testimonials
 8 - Our clients
 9 - Our Team
10 - Pricing Table
11 - Google Map
12 - Contact
13 - Footer
14 - Media Queries

*/

/*Basic ============================================================*/

#preload{

	width:100%;
	height: 100%;
	position: absolute;
	z-index: 1000000;
	background-color: white;
}

.preload {
	width:100px;
	height: 100px;
	left:45%;
	top:45%;
	position: absolute;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.ui-loader {
	display: none;
}

a:focus, *:active {
    outline:none;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #fff;
}

::selection {
	background: #1b1f24;
	color: #fff;
	}

::-moz-selection {
	background: #1b1f24;
	color: #fff;
}

h1 {
	color: #424755;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 40px;
	margin-top:40px;
	margin-bottom: 15px;
}

h2 {
	color: #424755;
	text-align: center;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

h3 {
	color: #424755;
	text-align: center;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	margin-left: 10px;
}

h4 {
	color: #424755;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

p {
	text-align: center;
	color: #424755;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 0 30px;
}

/*SLIDER BEGINNING ============================================================*/

.carousel {
	background-image: url(../images/background-01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.carousel-control.left {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 100%);
}

.carousel-control.right {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.5) 100%);
}

.text_slider {
	position: absolute;
	max-width: 100%;
	top:60%;
	z-index: 0;
	left: 0;
	right: 0;
}

.text_slider p {
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: white;
	text-shadow:1px 1px 2px #1b1f24;
	line-height: 45px;
}

.smaller_font {
	font-weight: 300 !important;
	font-size: 26px !important;
	text-transform: none !important;
}

.slider_line {
	height: 2px;
	background-color: #fff;
	width: 150px;
	margin: 0 auto;
}

.slider_circle_image_1 {
	background-image: url(../images/slider1@2x.png);
	background-size: 230px 230px;
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 230px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 23%;
	width: 230px;
	z-index: 0;
}

.slider_circle_image_2 {
	background-image: url(../images/slider2@2x.jpg);
	background-size: 230px 230px;
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 230px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 23%;
	width: 230px;
	z-index: 0;
}

.slider_circle_image_3 {
	background-image: url(../images/slider3@2x.jpg);
	background-size: 230px 230px;
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 230px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 23%;
	width: 230px;
	z-index: 0;
}

.carousel-control {
	font-weight: bold;
	top: 43%;
	width: 59px;
	height: 59px;
	border: none;
	padding-top: 0;
	color: #fff;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
	font-size: 50px;
	height: 30px;
	margin-left: -15px;
	margin-top: -33px;
	width: 30px;
}

.carousel-indicators li, .carousel-indicators .active {
	border-radius: 50%;
	height: 15px;
	width: 15px;
	margin-left: 6px;
	margin-right: 6px;
	background-color: #e6e6e6;
	border: none;
}

.carousel-indicators .active {
	background-color: #26ADE4; 
	margin-bottom: 1px;
}

/* Navigation ============================================================*/

.nav-outer {
	background-color: #26ADE4;
}

.navbar {
 	border-radius: 0;
 	border:none;
 	margin-bottom: 0px!important;
}

.navbar-default  {
	background-color: #26ADE4;
 	border: none;
}

.navbar-header {
	border: none;
	padding: 0;
}

.navbar-default .navbar-collapse {
	border-top: none!important;
	padding: 0!important;
	box-shadow: none;
}

.logo img {
	height: 50px;
	width: 200px;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

.navbar-nav {
	list-style-type: none;
	text-align: center;
	float: right;
	border: none;
}

.navbar-nav li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	color: white !important;
	padding: 29px 22px 26px;
}

.navbar-nav li a:hover, .navbar-nav li a.linkhover{
	text-decoration: none;
	font-size: 14px;
	background-color: #4DBCE9!important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #4DBCE9;
    color: #fff;
}

.navbar-toggle .icon-bar {
	background-color: #26ADE4;
	border-radius: 1px 1px 1px 1px;
	display: block;
	height: 2px;
	width: 20px;
	margin: 0 auto;
}

.navbar-toggle {
	background-color: #1b1f24;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	margin: 15px 0;
	right: 15px;
	width: 40px;
	height: 40px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #26ADE4;
}

.navbar-default .navbar-toggle:hover {
	background-color: #1b1f24;
}

.navbar-default .navbar-toggle:focus {
	background-color: #1b1f24;
}

/* About us ============================================================*/

.services_outer {
	background-color: #fff;
}

.bubble {
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top:50%;
	z-index: 0;
	background-color: rgba(255, 255, 255, 0.6);
}

.bubble_outer_one, .bubble_outer_two, .bubble_outer_three {
	height: 150px;
	width: 150px;
	margin: 20px auto 0;
	border-radius: 50%;
	position: relative;
	background-color: #26ADE4;
}

/* Services ICONS =======*/

.bubble_container i {
	display: block;
	font-size: 5.5em;
	height: 100%;
	margin: 0 auto;
	padding: 23%;
	text-align: center;
	width: 100%;
}

.services_outer article {
	margin-bottom: 0px;
}

.about_us_image {
	margin-bottom: 0px;
}

.about_us_image img {
	margin: 0 auto;
	display: block;
	height: auto;
	max-width: auto;
}

.about_line {
	border-bottom: 2px solid #e1e1e1;
	width: 20%;
	margin: 25px auto;
}

.about_line_2 {
	border-bottom: 2px solid #e1e1e1;
	margin: 40px auto;
	width: 20%;
}

/* ABOUT US SKILL BAR =======*/

.progress {
    background-color: #000;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 40px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress-bar-success{
	background-color: #26ADE4;
	text-align: left;
}

.sr-only {
	display: block;
	margin: 10px;
	overflow: visible;
	position: relative;
}

#about {
	background-color: #f1f1f1;
	padding-top: 30px;
}

.about_us_icon {
	display: block;
	float: left;
	width: 5%;
}

.about_us_icon .icon-stack i:first-child {
	font-size: 2.5em;
	color: #1b1f24;
}

.about_us_icon .icon-stack i:last-child {
	font-size: 1.2em;
	text-align: center;
	margin: 0 auto;
}

.article_text {
	width: 95%;
	float: right;
}

.about_us h2, .about_us h4, .about_us p {
	text-align: left;
	padding: 0;
	margin-bottom: 3px;
}

.article_text p {
	text-align: left;
	padding: 0;
	margin-bottom: 20px;
}

.about_us h3 {
	margin-top: 0;
	margin-bottom: 7px;
	text-align: left;
}

.about_us article {
	margin-bottom: 20px;
	display: inline-block;
	background-color: #fff;
	padding: 10px;
}

.about_arrow {
	background-image: url(../images/about_arrow@2x.png);
	background-size: 13px 25px;
	height: 25px;
	position: absolute;
	left: 2px;
	top: 50%;
	width: 13px;
	display:none;
}

.about_us article:hover {
	background-color: #1b1f24;
	transition: 0.7s;
}

.about_us article:hover .article_text p, .about_us article:hover .article_text h3 {
	color: #fff;
}

/* Parallax overlay and text =======================================*/

.paraword {
	width: 70%;
	margin: 90px auto 0;
}

.paraword h4{
	border-left: 7px solid #26ADE4;
	border-right: 7px solid #26ADE4;
	padding: 20px;
	text-transform: none;
	color: #fff;
	text-align: center;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.paraword p {
	color: #fff;
	width: 150px;
	padding: 10px;
	margin: 0 auto;
}

.overlay {
	height: 300px;
	width:100%;
	position: absolute;
	background-color: #000;
	opacity: 0.7;
}

.overlay_2 {
	height: 300px;
	width:100%;
	position: absolute;
	background-color: #26ADE4;
	opacity: 0.7;
}

.overlay_3 {
	height: 300px;
	width:100%;
	position: absolute;
	background-color: #aa9a79;
	opacity: 0.7;
}

/* Our Work ============================================================*/

.our_work_outer {
	background-color: #fff;
}

.our_work_image /*PARALLAX DIV*/{
	background: url(../images/paralaks1a@2x.jpg) no-repeat fixed center center transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 300px;
	position: relative;
}

.our_work_image_mob /*NOT PARALLAX DIV*/ {
	height: 300px;
	position: relative;
	background: url(../images/paralaks1a_tab@2x.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}

.work_animate, .testimonial_animate, .team_animate /*class for large device*/{
	height: 100%;
	height: 16px;
	left:0;
	text-align: center;
	top:60px;
}

.work_animate_mob, .testimonial_animate_mob, .team_animate_mob /*class for small device*/{
	position: absolute;
	width: 100%;
	height: 16px;
	left:0;
	text-align: center;
	top:90px;
}

.work_animate i, .testimonial_animate i, .team_animate i /*icons for large device*/{
	font-size: 20px;
	color: #000;
}

.work_animate_mob i, .testimonial_animate_mob i, .team_animate_mob i /*icons for small device*/{
	font-size: 20px;
	color: white;
}

.team_animate i, .team_animate_mob i {
	margin: 3px;
}

/* GALLERY =======*/
/* GALLERY FOR LARGE DEVICES =======*/

.gallery {
	text-align: center;
	overflow: hidden;
	max-width: 960px;
	margin: 0px auto;
}
.gallery ul {
	max-width: 930px;
	overflow: hidden;
	list-style-type: none;
	margin: 0px auto;
	padding: 0px;
	overflow: hidden;
}

.gallery ul li {
	float: left;
	margin: 5px;
	width:219px;
	height: 145px;
}

.gallery ul li a {
	text-decoration: none;
}

.gallery ul li a:hover{
	cursor: default;
}

.img_container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery_hover, .gallery_hover_mob {
	width: 100%;
	height: 100%;
	background-color: #1b1f24;
	opacity: 0.95;
	margin-top: 0px;
	position: relative;
	overflow: hidden;
}

.circle {
	background-color: #26ADE4;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin: 0 auto;
	margin-top: 50px;
}

.mag {
	background-image: url(../images/mag_glas_small@2x.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	padding-top: 50px;
	display: none;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
}

.mag:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	cursor: pointer;
}

.big-images {
	border:1px solid #fff;
	position: absolute;
	background-color: rgba(255,255,255,1);
	display: none;
	z-index: 10;
}

.big-images img {
	display: block;
	margin: 0 auto;
	float: left;
}

.img_caption {
	float: left;
	background-color: #fff;
	max-width: 200px;
	padding: 10px 0;
	border-left: 2px solid #f1f1f1;
}

.img_caption p:nth-of-type(1){
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

.img_caption p:nth-of-type(2){
	text-align: left;
}

.close_img {
	width: 40px;
	height: 40px;
	margin-right: 15px;
	margin-top: 15px;
	border-radius: 5px;
	cursor: pointer;
	color: #26ADE4;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
	background-color: #1b1f24;
	text-align: center;
	-webkit-transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-ms-transition:all 0.6s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
}

.close_img:hover {
	background-color: #26ADE4;
	color: #1b1f24;
}

.close_img i {
	font-size: 1em;
}

/* GALLERY FOR SMALL DEVICES =======*/

.gallery_holder_mob {
	max-width: 219px;
	margin: 0 auto;
}

.gallery_mob {
	overflow: hidden;
	width: 219px;
	position: relative;
}

.gallery_mob li {
	width: 219px;
	margin: 0 auto;
	float: left;
	list-style-type: none;
}

.gallery_mob ul {
	position: relative;
	padding: 0;
	margin: 0;
}

.gallery_mob ul li .img_container {
	margin-bottom: 20px;
	min-width: 219px;
}

.controls_mob {
	max-width: 459px;
	margin: 0 auto;
}

#gallery_mob_left, #gallery_mob_right {
	width: 50%;
	height: 305px;
	opacity: 0.95;
	margin-top: 0px;
	position: absolute;
	z-index: 100;
	overflow: hidden;
	float: left;
}

#gallery_mob_left:hover, #gallery_mob_right:hover{
	cursor:pointer;
}

#gallery_mob_right {
	left:50%;
}

.controls_mob_left, .controls_mob_right {
	background-color: #1b1f24;
	color: #a6a686;
	float: left;
	height: 70px;
	text-align: center;
	width: 50%;
	font-size: 45px;
}

#controls_mob_left, #controls_mob_right {
	cursor: pointer;
	color: #a6a686;
}

/* Testimonijals ============================================================*/

.testimonials_outer {
	background-color: #fff;
}

.testimonials_outer h3, .our_work_outer h3 {
	margin: 20px 0;
}

.testimonials_image /*PARALLAX DIV*/ {
	background: url(../images/paralaks1a@2x.jpg) no-repeat fixed center center transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 300px;
	position: relative;
}

.testimonials_image_mob /*NOT PARALLAX DIV*/ {
	height: 300px;
	position: relative;
	background-color: blue;
	background: url(../images/paralaks1a_tab@2x.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}

.client_image {
	height: 100px;
	width: 100%;
	margin: 20px auto 20px;
}

.client_image img {
	margin: 0 auto;
	display: block;
	height: 100px;
	width: 100px;
}

.holder_slider {
	max-width: 960px;
	min-width:150px;	
	margin: 0px auto;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}

.slider {
	width: 100%;
	max-width: 960px;
	min-width:150px;
}

.slider li {
	width: 20%;
	background-color: #fff;
	display:block;
	float: left; 
	list-style-type: none;
}

.slider ul {
	width: 500%;
	position: relative;
	margin: 0;
	padding: 0;
	left:0;
	top:0;
}

.slider cite {
	text-align: center;
	font-size: 18px;
	display: block;
	color: #b0b0b0;
	padding: 10px;
}

.slider p {
	font-size: 14px;
}

.see_more {
	display: block;
	width: 170px;
	margin: 0 auto;
}

.see_more_button {
	cursor: pointer;
	padding: 5px;
	background-color: #fff;
	border: 2px solid #1b1f24;
	border-radius: 3px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}

.see_more_button:hover {
	background-color: #1b1f24;
	color: #fff;
}

/* Our clients =========================================================*/

#client_logo {
	background-color: #f1f1f1;
}

.holder_slider_partners {
	max-width: 1030px;
	min-width:150px;
	height: 136px;
	margin: 0px auto;
	overflow: hidden;
	position: relative;
}

.slider_partners {
	width: 100%;
	max-width: 960px;
	min-width:150px;
}

.slider_partners ul {
	width: 500%;
	position: relative;
	margin: 0;
	padding: 0;
	left:0;
	top:0;
}

.slider_partners li {
	width: 210px;
	display:block;
	float: left; 
	list-style-type: none;
}

.client_logo_partners {
	height: 151px;
	width: 100%;
	margin: 20px auto;
}

.client_logo_partners img {
	margin: 0 auto;
	display: block;
	max-width: 200px;
}

.slider_partners_arrow {
	position: absolute;
	width: 30px;
	height: 30px;
}

.slider_partners_arrow i{
	position: absolute;
	font-size: 2.5em;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}

.slider_partners_arrow i:hover{
	color: #26ADE4;
}

.logo_next{
	right: 0;
	top: 70px;
	z-index: 999;
}

.logo_prev{
	left: 0;
	top: 70px;
	z-index: 999;
}

/* Our Team ============================================================*/

.our_team_outer {
	background-color: #fff;
}

.our_team_image /*PARALLAX DIV*/ {
	background: url(../images/paralaks1a@2x.jpg) no-repeat fixed center center transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	height: 300px;
	position: relative;
}

.our_team_image_mob /*NOT PARALLAX DIV*/{
	height: 300px;
	position: relative;
	background: url(../images/paralaks1a_tab@2x.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}

.team_img {
	width:171px;
	height:171px;
	position: relative;
	margin: 20px auto;
}

.team_img img{
	display: block;
	width:100%;
	height: 100%;
	margin: 0px auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid white;
}

.team_border {
	width: 100%;
	height: 100%;
	border-radius:50%;
	position: absolute;
	border-right: 5px solid #26ADE4;
	border-bottom: 5px solid #26ADE4;
	border-left: 5px solid white;
	border-top: 5px solid white;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
}

.team_border:hover {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}

.team_name {
	text-align: center;
	margin-top: 20px;
}

.team_name h4 {
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-transform: none;
}

.team_name p:nth-of-type(1) {
	color: #b0b0b0;
}

.team_icons {
	text-align: center;
	margin: 10px auto 30px;
	height: 100%;
	width: 100%;
}

.team_icons .icon-stack {
	color: #1b1f24;
}

.icon-stack:hover {
	color: #26ADE4;
}

.icon-stack a:hover {
	text-decoration: none;
}

/* Pricing Tables ============================================================*/

.pricing_outer {
	background-color: #f1f1f1;
}

.table_1 {
	background-color: #e1e1e1;
	border-radius: 10px;
	height: 100%;
	width: 100%;
	margin: 20px auto;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.table_1:hover {
	background-color: #f1f1f1;
	box-shadow: 3px 3px 5px #d5d5d5;
	margin-top: 2px;
}

.table_1 ul {
	margin: 0;
	padding: 0;
}

.table_1 ul li {
	text-decoration: none;
	list-style-type: none;
	border-bottom: 2px solid #fff;
	padding: 10px;
	text-align: center;
}

.table_1 ul li:first-child {
	border: none;
}

.table_1 ul li:last-child {
	border: none;
}

.table_1 ul li:nth-of-type(1) {
	background-color: #1b1f24;
	border-radius: 10px 10px 0 0;
}

.table_1 ul li:nth-of-type(2) {
	background-image: url(../images/price_arrow@2x.png);
	background-size: 25px 13px;
	background-repeat: no-repeat;
	background-position: center 0;
}

.table_1 h3 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.price {
	font-size: 30px;
	font-weight: 700;
	background-color: white;
}

.table_1 ul li button {
	margin: 0 auto;
	float: none;
	padding: 4px;
}

/* Google Map ============================================================*/

.gmap_outer {
	background-color: #424755;
	height: 380px;
}

#map-canvas {
	margin: 0;
	padding: 0;
	height: 100%;
}

#map-canvas img {
	max-width: none;
}

.gmnoprint span {
	display: none;
}

/* Contact ============================================================*/

.contact_outer {
	background-color: #fff;
}

.error {
	border:1px solid red;
}

input {
	width: 100%;
	height: 40px;
	font-weight: normal;
	margin-left: 10px;
	margin-bottom: 30px;
	border: none;
	background-color: #1b1f24;
	color: #fff;
	padding: 0 5px;
}

.feedback {
	float: right;
	padding:5px;
	font-size: 14px;
	text-align: right;
	line-height: 20px;
}

textarea {
	width: 100%;
	margin-left: 10px;
	margin-bottom: 30px;
	border: none;
	background-color: #1b1f24;
	color: #fff;
	padding: 5px;
}

#submit, #reset {
	font-family: 'Open Sans', sans-serif;
	height: 30px;
	width: 110px;
	float: left;
	background-color: #26ADE4;
	border: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	margin-left: 10px;
	letter-spacing: 1px;
}

form {
	margin: 0;
}

address p {
	text-align: center;
	line-height: 20px;
	padding: 0;
	font-size: 20px;
	font-weight: 700;
}

address {
	padding: 30px 0;
}

.up_arrow {
	height: 50px;
	width: 100px;
	background-color: #1b1f24;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin: 35px auto 0;
}

.up_arrow i {
	display: block;
	font-size: 50px;
	text-align: center;
	text-decoration: none;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
}

.up_arrow i:hover {
	color: #26ADE4;
}

.up_arrow a:hover {
	text-decoration: none;
}

/* Footer ============================================================*/

#logo_foot {
	margin: 20px 15px;
	height: 30px;
	width: 123px;
}

#logo_foot img {
	height: 55px;
	width: 200px;
}

.company {
	float: right;
}

.company p {
	padding: 0;
	font-size: 12px;
	text-align: right;
	margin-top: 20px;
	color: #fff;
}

.footer_outer {
	background-color: #1b1f24;
	padding-bottom: 20px;
}

/*======= FOOTER SOCIAL ICONS =======*/

.social {
	width: 300px;
	position: relative;
	margin:0 55px;
}

#social p {
	text-align: left;
	margin: 20px 0 0 15px;
	padding: 0;
	color: #fff;
}

#social ul {
	padding: 0;
}

#social ul li {
	list-style-type: none;
	float: left;
	margin: 10px 0 0 10px;
}

#social ul li a{
	background-position: top;
	transition: .3s;
}

#social ul li a:hover{
	background-position: bottom;
	transition: .3s;
}

#face {
	display: block;
	height: 30px;
	width: 30px;
	background-image: url(../images/face_spr@2x.png);
	background-size: 30px 60px;
	background-repeat: no-repeat;
}

#twit {
	display: block;
	height: 30px;
	width: 30px;
	background-image: url(../images/twit_spr@2x.png);
	background-size: 30px 60px;
	background-repeat: no-repeat;
}

#gogp {
	display: block;
	height: 30px;
	width: 30px;
	background-image: url(../images/gogp_spr@2x.png);
	background-size: 30px 60px;
	background-repeat: no-repeat;
}

#link {
	display: block;
	height: 30px;
	width: 30px;
	background-image: url(../images/link_spr@2x.png);
	background-size: 30px 60px;
	background-repeat: no-repeat;
}

#deva {
	display: block;
	height: 30px;
	width: 30px;
	background-image: url(../images/deva_spr@2x.png);
	background-size: 30px 60px;
	background-repeat: no-repeat;
}

#pint {
	display: block;
	height: 30px;
	width: 30px;
	background-image: url(../images/pint_spr@2x.png);
	background-size: 30px 60px;
	background-repeat: no-repeat;
}

/* Media Queries ============================================================*/

 /*Large desktop */

@media (max-width: 1300px) { 

.slider_circle_image_1,
.slider_circle_image_2,  
.slider_circle_image_3  {
	top: 15%;
}

 }

@media (max-width: 1200px) { 

.holder_slider_partners {
	max-width: 870px;
	height: 136px;
}

.slider_partners li {
	width: 230px;
}


 }
     
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

.slider_circle_image_1,
.slider_circle_image_2,  
.slider_circle_image_3  {
	top: 12%;
}

.text_slider {
	top:60%;
}

.text_slider p {
	font-size: 40px;
}

.smaller_font {
	font-size: 15px !important;
}

.navbar ul {
	float: right!important;
	background-color: #26ADE4!important;
}

.navbar-nav li a {
	padding: 29px 8px 26px !important;
	letter-spacing: 0px;
}

.gallery {
	margin: 0 auto;
}

.gallery ul {
	list-style-type: none;
	text-align: center!important;
}
.social{
	margin: 0px!important;

}

.holder_slider_partners {
	max-width: 670px;
	height: 136px;
}

.slider_partners li {
	width: 220px;
}

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

.slider_circle_image_1,
.slider_circle_image_2,  
.slider_circle_image_3  {
	top: 12%;
}

.text_slider {
	top:60%;
}

.text_slider p {
	font-size: 40px;
}

.smaller_font {
	font-size: 15px !important;
}

.nav-outer .container {
	padding: 0px!important;
}

.logo img {
	margin-top: 10px !important;
}

.navbar-collapse {
	margin-top: 10px;
}

.navbar ul {
	width: 100%!important;
	float:right!important;
	margin: 0 auto!important;
}

.navbar ul li {
	border-bottom:2px solid #26ADE4!important;
}

.navbar ul li a {
	padding: 10px 0!important;
}

.team_item {
	height: 100%;
	width: 70% !important;
	background-color: #6a7181;
	margin: 0 auto !important;
	margin-top: 20px!important;
}

.team_img {
	margin: 0 auto 20px;
	max-width: 100%;
}

.team_item img {
	max-width: 100%;
}

.team_item h4, h5{
	color: #99cc66;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	margin-left: 5px;
	text-align: center;
}

.gallery_holder_mob {
	max-width: 459px!important;
	height: 304px!important;
	margin: 0 auto;
}

.gallery_mob {
	overflow: hidden;
	width: 459px!important;
	height: 304px!important;
	position: relative;
}
.gallery_mob li {
	margin-right: 10px;
	width: 459px!important;
	height: 304px!important;
}

.img_container {
	width: 459px!important;
	height: 304px!important;
}

.img_container img {
	width: 459px!important;
	height: auto!important;
}

textarea, input{
	width: 95% !important;
}

.social {
	width: 300px;
	position: relative;
	margin:0!important;
}

.company p{
	margin-top: -60px !important;
}

.about_us_2 h2 {
	margin-top: 10px !important;
}

.holder_slider_partners {
	max-width: 560px;
	height: 136px;
}

.slider_partners li {
	width: 260px;
}


 }
     
/* Landscape phones and down */
@media (max-width: 480px) { 

.slider_circle_image_1,
.slider_circle_image_2,
.slider_circle_image_3 {
	top: 12%;
	height: 150px;
	width: 150px;
	background-position: center center;
	background-size: 100%;
}

.text_slider {
	top:50%;
}

.text_slider p {
	font-size: 30px;
	line-height: 30px;
}

.smaller_font {
	font-size: 15px !important;
}

h1 {
	font-size: 40px;
	margin-top:50px;
	margin-bottom: 50px;
}

.nav-outer .container {
	padding: 0px!important;
}

.about_us_2 h2 {
	margin-top: 10px !important;
}

.gallery_holder_mob {
	max-width: 270px!important;
	height: 180px!important;
	margin: 0 auto;
}

.gallery_hover_mob {
	display: none;
}

.gallery_mob {
	max-width: 270px!important;
	height: 180px!important;
	position: relative;
}

.gallery_mob .img_container {
	width: 270px!important;
	height: 180px!important;
}

.gallery_mob li {
	width: 270px!important;
}

.gallery_mob .img_container img {
	width: 270px!important;
	height: auto!important;
}

.controls_mob {
	max-width: 270px !important;
}

.team_item {
	margin-top: 20px !important;
}

.gmap_outer {
	height: 250px!important;
}

.company p{
	text-align: left !important;
	margin: 20px 0 0 15px !important;
}

.holder_slider_partners {
	max-width: 240px;
	height: 136px;
}

.slider_partners li {
	width: 240px;
}

 }

/* Media Queries End ============================================================*/